*{
    padding: 0px;
    margin: 0px;
}

h1{
    background-color: green;
   
    border: 1px solid black;
    width:1100px;
    border-radius: 5px;
}

h2{
    background-color: yellow;
    border:2px solid black;
    width:1100px;
    border-radius: 5px;
}

h3{
   text-align: center;
}

.contenedor{
justify-content: baseline;

    width:1100px;
    height: 900px;
    border: 1px solid black;
    display: flex;

}

#contenido{
     display:inline-block;
    background-color: rgb(223, 182, 144);
    width: 90%;
    text-align: justify;
    justify-content: center;
    padding: 20px;
    border:dashed;
    border-radius: 8px;
}

img{

    width: 100px;
    height: 80px;
}

.contenedorArticulo{
    padding: 5px;
    width: 60%;
    background: rgb(244, 251, 255);
    margin: 10px;
    margin-bottom: 0px;
    border: 1px solid black;
}

#fuerseccion{
    text-align:left;
    height: 100%;
    width: 40%;
    border: 1px solid black;
    background: rgb(211, 189, 128);
}
h4{
    font-size: 40px;
    justify-content:end
}

li{
    text-align: left;
     margin: 10px;
     text-decoration: none;
     list-style-type: none;
}

ul{
    margin-left:30%;
    
}

footer{
    width: 1100px;
}

h5{
    font-size: 28px;
    width: 1100px;
    background: yellow;
}

#menu{
background: rgb(156, 177, 216);
display: flex;
justify-content: center;
width: 1100px;
border-radius: 5px;
border: 1px solid black;
}